
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Get Help</title>


  <!-- Le styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



 </head>

<body>



<div class="container" id="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>



</body>

</html>
